<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bottomRowY</key>
	<integer>9</integer>
	<key>chipHeightInHome</key>
	<integer>8</integer>
	<key>chipSize</key>
	<integer>27</integer>
	<key>leftPipOriginsX</key>
	<array>
		<real>47.5</real>
		<real>78.5</real>
		<real>109.5</real>
		<real>140.5</real>
		<real>171.5</real>
		<real>202.5</real>
		<real>264.5</real>
		<real>295.5</real>
		<real>326.5</real>
		<real>357.5</real>
		<real>388.5</real>
		<real>419.5</real>
		<real>419.5</real>
		<real>388.5</real>
		<real>357.5</real>
		<real>326.5</real>
		<real>295.5</real>
		<real>264.5</real>
		<real>202.5</real>
		<real>171.5</real>
		<real>140.5</real>
		<real>109.5</real>
		<real>78.5</real>
		<real>47.5</real>
	</array>
	<key>rightPipOriginsX</key>
	<array>
		<real>419.5</real>
		<real>388.5</real>
		<real>357.5</real>
		<real>326.5</real>
		<real>295.5</real>
		<real>264.5</real>
		<real>202.5</real>
		<real>171.5</real>
		<real>140.5</real>
		<real>109.5</real>
		<real>78.5</real>
		<real>47.5</real>
		<real>47.5</real>
		<real>78.5</real>
		<real>109.5</real>
		<real>140.5</real>
		<real>171.5</real>
		<real>202.5</real>
		<real>264.5</real>
		<real>295.5</real>
		<real>326.5</real>
		<real>357.5</real>
		<real>388.5</real>
		<real>419.5</real>
	</array>
	<key>sizeOfDiceImage</key>
	<integer>26</integer>
	<key>topRowHomeY</key>
	<integer>216</integer>
	<key>topRowY</key>
	<integer>319</integer>
	<key>windowHeight</key>
	<integer>629</integer>
	<key>windowWidth</key>
	<integer>539</integer>
	<key>xChordsForBar</key>
	<integer>235</integer>
	<key>xChordsForBottomPipNumbers</key>
	<integer>57</integer>
	<key>xChordsForCubeLeft</key>
	<integer>458</integer>
	<key>xChordsForCubeRight</key>
	<integer>13</integer>
	<key>xChordsForDiceOnSideLeft</key>
	<integer>460</integer>
	<key>xChordsForDiceOnSideRight</key>
	<integer>16</integer>
	<key>xChordsForHomeLeft</key>
	<integer>14</integer>
	<key>xChordsForHomeRight</key>
	<integer>458</integer>
	<key>xChordsForOpponentDiceLeft</key>
	<integer>94</integer>
	<key>xChordsForOpponentDiceRight</key>
	<integer>156</integer>
	<key>xChordsForPlayerDiceLeft</key>
	<integer>320</integer>
	<key>xChordsForPlayerDiceRight</key>
	<integer>382</integer>
	<key>xChordsForTopPipNumbers</key>
	<integer>57</integer>
	<key>yChordsForBottomPipNumbers</key>
	<integer>1</integer>
	<key>yChordsForLeftOpponentDieInHome</key>
	<integer>280</integer>
	<key>yChordsForLeftPlayerDieInHome</key>
	<integer>80</integer>
	<key>yChordsForOpponentBar</key>
	<integer>135</integer>
	<key>yChordsForOpponentDiceLeft</key>
	<integer>165</integer>
	<key>yChordsForOpponentDiceRight</key>
	<integer>165</integer>
	<key>yChordsForPlayerBar</key>
	<integer>200</integer>
	<key>yChordsForPlayerDiceLeft</key>
	<integer>165</integer>
	<key>yChordsForPlayerDiceRight</key>
	<integer>165</integer>
	<key>yChordsForRightOpponentDieInHome</key>
	<integer>250</integer>
	<key>yChordsForRightPlayerDieInHome</key>
	<integer>50</integer>
	<key>yChordsForTopPipNumbers</key>
	<integer>347</integer>
</dict>
</plist>
